---
import Company from '../components/Company.astro'
import Concept from '../components/Concept.astro'
import Contact from '../components/Contact.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import ProjectShowcase from '../components/ProjectShowcase.astro'
import Vision from '../components/Vision.astro'
import Layout from '../layouts/Layout.astro'

import '../styles/global.scss'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Header />
	<main>
		<Hero />
		<Concept />
		<Vision />
		<Company />
		<ProjectShowcase />
		<Contact />
	</main>
	<Footer />
</Layout>
